SECRET_KEY=
DEBUG=
DATABASE_URL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
ALLOWED_HOSTS=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

USE_S3=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_ENDPOINT_URL=
AWS_S3_REGION_NAME=
MEDIA_URL=

AWS_S3_CUSTOM_DOMAIN=
CSRF_TRUSTED_ORIGINS=