<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#0f172a">
  <title>{% block title %}Hapi Vet{% endblock %}</title>

  {% block tailwind %}
  <script src="https://cdn.tailwindcss.com"></script>
  {% endblock %}

  {% block htmx %}
  <script src="https://unpkg.com/htmx.org@latest"></script>
  {% endblock %}

  {% block preload_assets %}{% endblock %}
  {% block extra_css %}{% endblock %}
</head>
<body class="auth-body">

  <!-- Flash messages 
  {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
        <div class="flash-message flash-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %} -->

  <!-- Main content -->
  {% block content %}{% endblock %}

  {% block extra_js %}{% endblock %}
</body>
</html>